.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

input,
textarea {
    background-color: var(--colorBackground);
    color: var(--colorSurface);
    border-color: var(--colorSecondary);
    margin: 1em 0em;
    box-shadow: none !important;
}

button {
    background-color: var(--colorPrimary);
    color: var(--colorAccent);
    border-color: var(--colorPrimary);
    box-shadow: 2em;
    cursor: pointer;
    padding: 2px 14px 4px;
}

.logo-enter {
    opacity: 0;
}
.logo-enter-active {
    opacity: 1;
    transition: opacity 1000ms;
}
